@font-face {
  font-family: Comic;
  src: url(./fonts/Comic_Neue/ComicNeue-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comic;
}

body {
  background-image: url(./img/feb190814a65e73239d31110e648d593.jpeg);
  background-size: 10%;
  background-repeat: repeat;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: .25fr .25fr 1fr;
}

.header {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

h1 {
  color: #5D6063;
  background-color: #EAEDF0;
  padding: 15px;
}

.button {
  display: grid;
  align-self: center;
  justify-self: center;
  gap: 15px;
  margin-bottom: 5px;
}

button {
  color: #5D6063;
  background-color: #EAEDF0;
  padding: 10px;
}

#bookContainer {
  display: grid;
  gap: 15px;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.book-card {
  padding: 15px;
  color: #5D6063;
  background-color: #EAEDF0;
}

#formDiv {
  color: #5D6063;
  background-color: #EAEDF0;
  display: none;
  align-items: center;
  justify-items: center;
  padding: 15px;
}

.formRow {
  display: grid;
  align-items: start;
  margin-bottom: 20px;
}

.formElement {
  display: grid;
}

.legacy-form-row {
  padding: 10px;
  margin-bottom: 10px;
}